# The controller for the ingress is added via helm
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fe-be-ingress
  namespace: blog-prod
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
spec:
  rules:
  - http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: be-service
            port:
              number: 80
      - path: /
        pathType: Prefix
        backend:
          service:
            name: fe-service
            port:
              number: 80