name: Deploying images 

on:
    push:
        branches: 
          - master
    workflow_dispatch:
        inputs:
            service:
                description: 'Service to deploy (fe or be)'
                type: choice
                options: 
                  - fe
                  - be
                required: true
            new-version:
                description: 'New version tag (xx.xx.xx)'
                required: false
                type: string   

   
permissions:
    packages: write
    contents: write

jobs:
    fe-check:
        name: Frontend changed
        uses: ./.github/workflows/checks.yml
        with:
            fs-path: frontend/**

    fe-build-args:
      runs-on: ubuntu-latest
      outputs:
        args: ${{ steps.set-args.outputs.args }}
      steps:
        - name: Set build args
          id: set-args
          run: |
            echo "args=NODE_VERSION=${{ vars.NODE_VERSION }},VITE_HOST=${{ vars.VITE_HOST }}" >> $GITHUB_OUTPUT

    fe-deploy:
      needs: [ fe-check, fe-build-args ]
      name: Deploy Frontend
      uses: ./.github/workflows/images.yml
      if: ${{ (github.event_name == 'workflow_dispatch' && inputs.service == 'fe') || (github.event_name != 'workflow_dispatch' && needs.fe-check.outputs.run == 'true') }}
      with:
        name: fe
        build-args: ${{ needs.fe-build-args.outputs.args }}
        dockerfile: frontend.Dockerfile
        environment: prod
        tag: ${{ github.event.inputs.new-version || '' }}

    be-check:
        name: Backend changed
        uses: ./.github/workflows/checks.yml
        with:
            fs-path: backend/**

    be-deploy:
      needs: [ be-check ]
      name: Deploy backend
      uses: ./.github/workflows/images.yml
      if: ${{ (github.event_name == 'workflow_dispatch' && inputs.service == 'be') || (github.event_name != 'workflow_dispatch' && needs.be-check.outputs.run == 'true') }}
      with: 
        name: be 
        dockerfile: backend.Dockerfile
        environment: prod
        tag: ${{ github.event.inputs.new-version || '' }}